<%= render partial: "users/user", locals: {person: @user} %>

<div class="posts-container">
    <% @posts.each do |post| %>
        <%= render partial: "users/posts", locals: {post: post} %>
        <div class="comments-container">
            <% post.recent_comments.each do |comment| %>
                <div class="comments">
                    <small><%= comment.user.name%>: </small>
                    <small><%= comment.text%> </small>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

<%= form_for([@user, @user.posts.build]) do |f| %>
    <%= f.label :title, class: "title-label" %><br>
    <%= f.text_field :title, class: "title-input" %>
    <%= f.label :text, class: "text-label" %><br>
    <%= f.text_area :text, class: "text-input" %>
    <%= f.submit "Create Post", class: "submit" %>
<% end %>

