<div class="post-large">
  <small class="author" ><%= "#{@post.title} by #{@user.name}" %></small>
  <small class="comment-counter">Comments: <%= @post.comments_counter%></small>
  <small><%= link_to "Likes: #{@post.likes_counter}", like_user_post_path(@user, @post) %>
</small>
    <p class="post-text"><%= @post.text%></p>
</div>
<div class="comments-container large">
    <% @post.comments.each do |comment| %>
        <div class="comments">
            <small><%= comment.user.name%>: </small>
            <small><%= comment.text%> </small>
        </div>
    <% end %>
</div>

<%= form_for([@user, @post, @post.comments.build]) do |f| %>
    <%= f.label :text, class: "title-label" %><br>
    <%= f.text_area :text, class: "title-input" %>
    <%= f.submit "Create Comment", class: "submit" %>
<% end %>
